{#
  Copyright (c) 2026 Larry H <l.gr [at] dartmouth [dot] edu>
  SPDX-License-Identifier: AGPL-3.0-or-later
  Compiler Optimization Gallery - Dartmouth College COSC-69.16
#}
# Compilers

This gallery includes assembly outputs from the following compilers:

| Compiler ID | Architecture | Scenarios |
|-------------|--------------|-----------|
{% for compiler in compilers %}
| `{{ compiler.id }}` | {{ compiler.id | detect_arch }} | {{ compiler.scenarios | sort | join(", ") }} |
{% endfor %}
