{#
  Copyright (c) 2026 Larry H <l.gr [at] dartmouth [dot] edu>
  SPDX-License-Identifier: AGPL-3.0-or-later
  Compiler Optimization Gallery - Dartmouth College COSC-69.16
#}
{% for item in nav %}
- {{ item }}
{% endfor %}
